*{
    margin:0;
}
body{
    overflow: hidden;
}
#container{
    /*border: hotRGB(242, 125, 177); dashed 3px;*/
    /*border-radius: 30px;*/
    height: 100vh;
    width: 100vw;
    background-color: RGB(246, 172, 197);
}
.my-pad{
    position: absolute;
    top: 2vh;
    left: 2vw;
    bottom: 2vh;
    right: 2vw;
    background-color: RGB(255, 248, 164);
    border-radius: 0;
}
.my-text{
    color: RGB(246, 139, 31);
    font-size: 2em;
    position: absolute;
    left: 25vw;
    top: 30vh;
}
.my-text:hover{   
    color: white;
    background-color: greenyellow;
}
.my-btn{
    position: absolute;
    bottom: 10vh;
    width: 35vw;
    color: white;
    font-size: 1.2em;
    background-color: RGB(246, 139, 31);
    border-radius: 0;
}
.my-btn:hover{   
    color: white;
    background-color: greenyellow;
}
.go-resource{
    /*padding: 0.5em 0 0.5em 0;*/
    left: 25vw;
    bottom: 25vh;
    width: 45vw;
    /*border-radius: 0.5em;*/
    background-color: RGB(116, 206, 226);
}

.clip{
    left: 10vw;
}
.picker{
    left: 50vw;
}

.cp-URL,.cp-MD{
    bottom: 80vh;
    background-color: RGB(246, 172, 197);
}

.cp-URL{
    left: 10vw;
}

.cp-MD{
    left: 50vw;
}