/*{
    margin:0;
}*/
body{
    overflow: hidden;
}
 /*
#container{
    height: 100vh;
    width: 100vw;
   background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;*/
}

/*label{
    width: 30%;
}
input{
    width: 60%;
}*/



