/*{
    margin:0;
}*/
body{
    overflow-x: hidden;
    background-color: RGB(255, 248, 164);
}
.my-save-btn{
    background-color: RGB(242, 125, 177);
    color: white;
    width: 6em;
    /*height: 4em;*/
    position: relative;
    left:20em;
    top:2em;
    /*right: 10vw;
    bottom: 13vh;*/
    border-radius: 0;
}

label,.title{
    color:RGB(246, 139, 31);
    font-weight: normal;
}

.settingboxes,.fix{
    border-color: RGB(242, 125, 177);
    border-radius: 0;
    color:RGB(246, 139, 31);
}